.sidebar {
  margin-top: 80px;
  border-right: 1px solid #eee;
  position: fixed;
}

li {
  cursor: pointer;
}

.filterByRating > ul > li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.countries,
.versions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.active {
  border: 1px solid #eee;
}
